.wrap {
	background-size: cover;
	background-repeat:none;
}

#dropoutError,
#videoContainer,
#beginExperiment,
#trialContainer,
#subjectDeterimation,
#autoStartWarning,
#observerCommand,
#limitNotice {
  display: none;
}

#trialContainer {
  text-align:center;
  clear:both;
}

#videoContainer {
	text-align:center;
	z-index:100;
}

#videoContainer video,
#videoContainer object {
	display:inline-block;
	width: 40%;
	margin:.8em;
	z-index: 200;
}

#videoContainer #subjectVideo.showSubject video,
#videoContainer #subjectVideo.showSubject object {
	display:inline-block;
	width: 81% !important;
}

.selfVideo {
	transform: rotateY(-180deg);
}

#subjectDeterimation {
	position:absolute;
    top: 45%;
    width: 100%;
    z-index: 100;
}

#subjectDeterimation b {
    display: inline-block;
    font-size: 1.8em;
    margin: 0 1em 0 -2em;
    vertical-align: middle;
}

#subjectDeterimation p {
    margin: 0 0 0 -10em;
}

#subjectDeterimation .correct {
    font-style:bold;
    font-size: 1.8em;
    color:#008800;
}

#subjectDeterimation .incorrect {
    font-style:bold;
    font-size: 1.8em;
    color:#880000;
}

#subjectDeterimation .nofeedback {
    font-style:bold;
    font-size: 1.8em;
    color:#888;
}


#observerCommand {
    margin: 0 0 0 1.5em;
}


#trialInformation {
    font-style:bold;
    font-size: 1.4em;
}

.animateBackground {
	--background: linear-gradient(270deg, #b85a6c, #905ab8, #417fcf, #01ad85);
	-webkit-animation: backgroundAnimation 16s;
	-moz-animation: backgroundAnimation 16s;
	animation: backgroundAnimation 16s;
}

@-webkit-keyframes backgroundAnimation {
    0%{background:#01ad85;}
    50%{background:#905ab8;}
    75%{background:#417fcf;}
    100%{background:#f6f6f6;}
}
@-moz-keyframes backgroundAnimation {
    0%{background:#01ad85;}
    50%{background:#905ab8;}
    75%{background:#417fcf;}
    100%{background:#f6f6f6;}
}
@keyframes backgroundAnimation {
    0%{background:#01ad85;}
    50%{background:#905ab8;}
    75%{background:#417fcf;}
    100%{background:#f6f6f6;}
}


#peerList .list-group-item-warning::before {
  position: relative;
  top: 1px;
  margin-right:8px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e023";
}

#peerList .list-group-item-success::before {
  position: relative;
  top: 1px;
  margin-right:8px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e084";
}

#waitingScreen p {
	max-width: 800px;
	font-size: 1.2em;
}


#waitingScreen h4 {
	max-width: 800px;
	font-size: 1.4em;
}

#waitingScreen ol {
	list-style: none outside none;
	font-family: Verdana,Helvetica,Arial,sans-serif;
	margin: 1.5em;
	padding: 0;
	position:relative;
	font-size: 1.1em;
}

#waitingScreen ol li {
	display: block;
	max-width: 720px;
	margin: 0 0 1px 0;
	padding: 12px 24px;
	position:relative;
	border-radius:4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: 0 none;
	background:#484;
	color: #EEFFEE;
}
